@keyframes mymove {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes mymoveback {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

.card {
    -webkit-animation: mymove 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation: mymoveback 0.3s;
    animation-fill-mode: forwards;
}

.card:hover {
    cursor: pointer;
    -webkit-animation-fill-mode: forwards;
    animation: mymove 0.3s;
    animation-fill-mode: forwards;
}
